body {
    font-family: 'Arial', sans-serif;
    background: #fff;
    padding: 2rem;
    color: #333;
}

.container {
    max-width: 400px;
    margin: 0 auto;
}

h2 {
    text-align: center;
    color: #ff5b8c;
    margin-bottom: 20px;
}

.option {
    display: block;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 1rem;
    padding: 10px;
    position: relative;
    cursor: pointer;
}

.option input[type="radio"] {
    position: absolute;
    top: 20px;
    left: 10px;
}

.option .box {
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .popular {
    border: 2px solid #ff5b8c;
} */

.popular-badge {
    position: absolute;
    top: -10px;
    right: 0;
    background: #ff5b8c;
    color: white;
    font-size: 12px;
    padding: 3px 10px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    font-weight: bold;
}

.tag {
    background-color: #ff5b8c;
    color: white;
    padding: 2px 6px;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 5px;
}

.strike {
    text-decoration: line-through;
    font-size: 0.85rem;
    color: gray;
}

.price {
    font-size: 1.1rem;
    font-weight: bold;
}

.selected {
    border: 2px solid #ff5b8c;
}

.selectors {
    margin-top: 10px;
}

.selectors div {
    display: flex;
    gap: 10px;
    margin: 5px 0;
}

.selectors label {
    margin-right: 5px;
}

.hidden {
    display: none;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 1rem;
}

.add-to-cart {
    width: 100%;
    background: #ff5b8c;
    color: white;
    border: none;
    padding: 12px;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 10px;
}

.powered {
    text-align: center;
    font-size: 0.8rem;
    color: black;
}